@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary" asp-controller="SessionDemo" asp-action="GetSessionValue">Get Session Value</a>

@if (ViewBag.SessionValue != null)
{
    <div class="alert alert-info">

        <h2>Session Value : @ViewBag.SessionValue</h2>
    </div>

}